.mypagecontainer{
    padding: 30px;
    width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.mypagecontainer>.group{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}
.mypagecontainer>.group>h1{
    font-weight: bold;
    margin-right: 30px;
}
.mypagecontainer>.group>button{
    width: 150px;
    height: 30px;
    border: none;
}
.mypagecontainer>ul{
    padding: 30px;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.mypagecontainer>ul>li{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.mypagecontainer>ul:nth-child(2n){
    background-color: #e4e3e3;
}
.mypagecontainer>ul>li>figure{
    width: 150px;
    height: 150px;
}
.mypagecontainer>ul>li>figure>img{
    width: 100%;
    height: 100%;
}
.mypagecontainer>ul>li>dl>dt{
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    font-weight: bold;
}
.mypagecontainer>ul>li>dl>dd{
    display: flex;
    justify-content: center;
}