.signup-container{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
}
.signup-container>h1{
    text-align: center;
    margin-bottom: 25px;
    margin: 30px 300px;
    width: 100%;
}
.signup-container>h1 p{
    font-weight: bold;
    font-size: 30px;
}
.signup-container>form{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
    border: 1px solid rgba(0,0,0,.12);
    justify-content: center;
}
.signup-container>form>input{
    height: 50px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid;
}
.signup-container>form>input:nth-child(-n+10){
    width: 60%;
}
.signup-container>form>div{
    color: red;
    width: 100%;
    display: none;
    text-align: center;
    margin-bottom: 20px;
}
.phone{
    width: 40%;
}
.verify{
    width: 15%;
    font-size: 10px;
    height: 50px;
    margin-left: 30px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
}
#signupfinish{
    width: 60%;
    background-color: #3D65F1;
    color: #fff;
}
.member{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.member>button{
    width: 30%;
    height: 50px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
}
.business-container{
    display: none;
}
#businessmember{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
    border: 1px solid rgba(0,0,0,.12);
    justify-content: center;
}

#businessmember>input{
    width: 60%;
    height: 50px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid;
}
#businessmember>input:nth-last-of-type(2){
    background-color: #fff;
    border-bottom: 1px solid;
}
#businessmember>button{
        width: 15%;
        font-size: 10px;
        height: 50px;
        margin-left: 30px;
        background-color: #666;
        color: #fff;
        border: none;
        border-radius: 5px;
}
#businessmember>input:nth-last-of-type(5){
    width: 40%;
}